<!--FILTER MENU START-->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" style="overflow:auto;-webkit-box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49); -moz-box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49);box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49);">
  <!--SLIDE OUT FILTER START-->
  <header role="banner" id="global-header" style="background-color:#00A19B;padding-top: 10px !important; padding-bottom: 10px !important;margin-left: 0px !important; margin-right: 0px !important;">
    <div class="header-container">
      <div class="container-fluid" style="padding: 0px;">
        <div class="row-fluid">
          <div class="span8" >
            <h2 style="color:#fff;font-size:18px;padding-top:15px;">Filter Clinics</h2>
          </div>
          <div class="span4">
            <button id="showLeftPush" style="background-color:#00A19B;border:0px;"><img src="{{assetPath}}images/x_37x37.svg" width="37px" height ="37px" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--SLIDE OUT FILTER END-->
  <div>
    <!--RESET APPLY BUTTONS START-->
    <div class="container-fluid" style="padding:10px;">
      <div class="row-fluid" style="padding:0 0 0 0;">
        <div class="span12">
          <p class="reset-filters" >
            <a class="button button-cancel" style="color:#fff;padding-top:1rem;">Reset filters</a>
          </p>
        </div>
      </div>
    </div>
    <!--RESET APPLY BUTTONS END-->

    <!--ACCORDION START-->
    <!--WAITING TIME-->
    <dl class="accordion" style="background-color: #dee0e2;">
      {% if !hide_waiting_times %}
      <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <a style="text-decoration:none;color:#000;" class="acc-arrow acc-arrow_blue">Waiting Time</a>
      </dt>
      <dd class="filter-WaitingTime" style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="any" id="any" name="minor">
              <label class="form-control-radio minor" for="any">
                Any
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="30" id="30days" name="minor">
              <label class="form-control-radio minor" for="30days" style="font-weight: normal;">
                Up to 30 days
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="60" id="60days" name="minor">
              <label class="form-control-radio minor" for="60days" style="font-weight: normal;">
                Up to 60 days
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="100" id="100days" name="minor">
              <label class="form-control-radio minor" for="100days" style="font-weight: normal;">
                Up to 100 days
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="150" id="150days" name="minor">
              <label class="form-control-radio minor" for="150days" style="font-weight: normal;">
                Up to 150+ days
              </label>
            </div>
          </div>
        </div>
      </dd>
      {% endif %}

      <!--CLINIC DAY-->
      {% if !hide_clinic_days %}
      <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <a style="text-decoration:none;color:#000;" class="acc-arrow acc-arrow_blue">Clinic Day</a>
      </dt>
      <dd class="filter-ClinicDay" style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="any" id="anyday" name="minor">
              <label class="form-control-checkbox minor" for="anyday">
                Any
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="monday" id="monday" name="minor">
              <label class="form-control-checkbox minor" for="monday" style="font-weight: normal;">
                Monday
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="tuesday" id="tuesday" name="minor">
              <label class="form-control-checkbox minor" for="tuesday" style="font-weight: normal;">
                Tuesday
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="wednesday" id="wednesday" name="minor">
              <label class="form-control-checkbox minor" for="wednesday" style="font-weight: normal;">
                Wednesday
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="thursday" id="thursday" name="minor">
              <label class="form-control-checkbox minor" for="thursday" style="font-weight: normal;">
                Thursday
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="friday" id="friday" name="minor">
              <label class="form-control-checkbox minor" for="friday" style="font-weight: normal;">
                Friday
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="saturday" id="saturday" name="minor">
              <label class="form-control-checkbox minor" for="saturday" style="font-weight: normal;">
                Saturday
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="sunday" id="sunday" name="minor">
              <label class="form-control-checkbox minor" for="sunday" style="font-weight: normal;">
                Sunday
              </label>
            </div>
          </div>
        </div>
      </dd>
      {% endif %}

      <!--CLINIC TIME-->
      <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <a style="text-decoration:none;color:#000;" class="acc-arrow acc-arrow_blue">Clinic Time</a>
      </dt>
      <dd class="filter-ClinicSlot" style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="morning" id="morning" name="minor">
              <label class="form-control-checkbox minor" for="morning" style="font-weight: normal;">
                Morning (8.00am - 11.59am)
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="afternoon" id="aft" name="minor">
              <label class="form-control-checkbox minor" for="aft" style="font-weight: normal;">
                Afternoon (12.00pm - 3.59pm)
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="evening" id="eve" name="minor">
              <label class="form-control-checkbox minor" for="eve" style="font-weight: normal;">
                Evening (4.00pm - 8.00pm)
              </label>
            </div>
          </div>
        </div>
      </dd>

      <!--DISTANCE-->
      {% if !hide_distance %}
      <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <a style="text-decoration:none;color:#000;" class="acc-arrow acc-arrow_blue">Distance from LS2 4GH</a>
      </dt>
      <dd class="filter-DistanceBucket" style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="any" id="anydist" name="minor">
              <label class="form-control-radio minor" for="anydist">
                Any
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="2" id="2miles" name="minor">
              <label class="form-control-radio minor" for="2miles" style="font-weight: normal;">
                Up to 2 miles
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="5" id="5miles" name="minor">
              <label class="form-control-radio minor" for="5miles" style="font-weight: normal;">
                Up to 5 miles
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="10" id="10miles" name="minor">
              <label class="form-control-radio minor" for="10miles" style="font-weight: normal;">
                Up to 10 miles
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="25" id="25miles" name="minor">
              <label class="form-control-radio minor" for="25miles" style="font-weight: normal;">
                Up to 25 miles
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="50" id="50miles" name="minor">
              <label class="form-control-radio minor" for="50miles" style="font-weight: normal;">
                Up to 50 miles
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="radio" data-filter-val="100" id="100miles" name="minor">
              <label class="form-control-radio minor" for="100miles" style="font-weight: normal;">
                Up to 100+ miles
              </label>
            </div>
          </div>
        </div>
      </dd>
      {% endif %}

      <!--Accessibility-->
      {% if !hide_accessibility %}
      <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <a style="text-decoration:none;color:#000;" class="acc-arrow acc-arrow_blue">Accessibility</a>
      </dt>
      <dd class="filter-Accessibility" style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="braille" id="Braille" name="minor">
              <label class="form-control-checkbox minor" for="Braille" style="font-weight: normal;">
                Braille translation service
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="disabled-parking" id="disabledparking" name="minor">
              <label class="form-control-checkbox minor" for="disabledparking" style="font-weight: normal;">
                Disabled parking
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="disabled-wc" id="disabledwc" name="minor">
              <label class="form-control-checkbox minor" for="disabledwc" style="font-weight: normal;">
                Disabled WC
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="induction-loop" id="inductionloop" name="minor">
              <label class="form-control-checkbox minor" for="inductionloop" style="font-weight: normal;">
                Induction loop
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="rnid" id="rnid" name="minor">
              <label class="form-control-checkbox minor" for="rnid" style="font-weight: normal;">
                RNID typetalk
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="signing" id="signingservice" name="minor">
              <label class="form-control-checkbox minor" for="signingservice" style="font-weight: normal;">
                Signing service available
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="wheelchair-access" id="wheelchairaccess" name="minor">
              <label class="form-control-checkbox minor" for="wheelchairaccess" style="font-weight: normal;">
                Wheelchair access
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="step-free-access" id="stepfree" name="minor">
              <label class="form-control-checkbox minor" for="stepfree" style="font-weight: normal;">
                Step free access
              </label>
            </div>
          </div>
        </div>
      </dd>
      {% endif %}

      <!--Facilities & Amenities-->
      {% if !hide_facilities %}
      <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <a style="text-decoration:none;color:#000;" class="acc-arrow acc-arrow_blue">Facilities &amp; Amenities</a>
      </dt>
      <dd class="filter-Facilities" style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="cafe" id="Cafe" name="minor">
              <label class="form-control-checkbox minor" for="Cafe" style="font-weight: normal;">
                Cafe
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="library" id="library" name="minor">
              <label class="form-control-checkbox minor" for="library" style="font-weight: normal;">
                Patient library
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="pharmacy" id="Pharmacy" name="minor">
              <label class="form-control-checkbox minor" for="Pharmacy" style="font-weight: normal;">
                Pharmacy
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="shop" id="Shop" name="minor">
              <label class="form-control-checkbox minor" for="Shop" style="font-weight: normal;">
                Shop
              </label>
            </div>
          </div>
        </div>
      </dd>
      {% endif %}

      <!--CQC Rating-->
      {% if !hide_cqc_rating %}
      <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <a style="text-decoration:none;color:#000;" class="acc-arrow acc-arrow_blue">CQC Rating</a>
      </dt>
      <dd class="filter-CqcRating" style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="any" id="anycqc" name="minor">
              <label class="form-control-checkbox minor" for="anycqc">
                Any
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="1" id="Outstanding" name="minor">
              <label class="form-control-checkbox minor" for="Outstanding" style="font-weight: normal;">
                Outstanding
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="2" id="Good" name="minor">
              <label class="form-control-checkbox minor" for="Good" style="font-weight: normal;">
                Good
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="3" id="Requiresimprovement" name="minor">
              <label class="form-control-checkbox minor" for="Requiresimprovement" style="font-weight: normal;">
                Requires improvement
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="4" id="Inadequate" name="minor">
              <label class="form-control-checkbox minor" for="Inadequate" style="font-weight: normal;">
                Inadequate
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="5" id="notrated" name="minor">
              <label class="form-control-checkbox minor" for="notrated" style="font-weight: normal;">
                Services not yet rated
              </label>
            </div>
          </div>
        </div>
      </dd>
      {% endif %}

      <!--NHS Choices Rating-->
      {% if !hide_choices_rating %}
      <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <a style="text-decoration:none;color:#000;" class="acc-arrow acc-arrow_blue">NHS Choices Rating</a>
      </dt>
      <dd class="filter-ChoicesRating" style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="any" id="anychoices" name="minor">
              <label class="form-control-checkbox minor" for="anychoices">
                Any
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="5" id="5stars" name="minor">
              <label class="form-control-checkbox minor" for="5stars" style="font-weight: normal;">
                5 Stars
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="4" id="4stars" name="minor">
              <label class="form-control-checkbox minor" for="4stars" style="font-weight: normal;">
                4 Stars
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="3" id="3stars" name="minor">
              <label class="form-control-checkbox minor" for="3stars" style="font-weight: normal;">
                3 Stars
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="2" id="2stars" name="minor">
              <label class="form-control-checkbox minor" for="2stars" style="font-weight: normal;">
                2 Stars
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="1" id="1stars" name="minor">
              <label class="form-control-checkbox minor" for="1stars" style="font-weight: normal;">
                1 Star
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="0" id="Unrated" name="minor">
              <label class="form-control-checkbox minor" for="Unrated" style="font-weight: normal;">
                Unrated
              </label>
            </div>
          </div>
        </div>
      </dd>
      {% endif %}

      <!--Parking-->
      {% if !hide_parking %}
      <dt style="border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <a style="text-decoration:none;color:#000;" class="acc-arrow acc-arrow_blue">Parking</a>
      </dt>
      <dd class="filter-Parking" style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;">
        <div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="car" id="carparking" name="minor">
              <label class="form-control-checkbox minor" for="carparking" style="font-weight: normal;">
                Car parking
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="cycle" id="cycleparking" name="minor">
              <label class="form-control-checkbox minor" for="cycleparking" style="font-weight: normal;">
                Cycle parking
              </label>
            </div>
          </div>
          <div class="form-item-wrapper">
            <div class="form-group">
              <input type="checkbox" data-filter-val="disabled" id="disabledparking2" name="minor">
              <label class="form-control-checkbox minor" for="disabledparking2" style="font-weight: normal;">
                Disabled parking
              </label>
            </div>
          </div>
        </div>
      </dd>
      {% endif %}
    </dl>
    <!--ACCORDION END-->
  </div>
</nav>
<!--FILTER MENU END-->
