<!--MAP MENU START-->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2" style="overflow:auto;-webkit-box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);-moz-box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);">
  <!--MAP HEADER START-->
  <header role="banner" id="global-header">
    <div class="header-container" style="background-color:#9B004F;padding-top: 10px !important; padding-bottom: 10px !important;margin-left: 0px !important; margin-right: 0px !important;">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span8">
            <h2 style="color:#fff;font-size:18px;padding-top:15px;">Map Clinics</h2>
          </div>
          <div class="span4">
            <button id="showRightPush" style="background-color:#9B004F;border:0px;"><img src="{{assetPath}}images/x_37x37.svg" width="37px" height="37px" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--MAP HEADER END-->
  <div style="padding:10px;">
    <p>The following clinics have been sorted by distance from your home address.</p>
    <p>Your home address is set at <a href="/">LS2 4GH</a> </p>
  </div>
  <div id="map" style="height:250px;"></div>

  {% for clinic in clinics %}
  <div class="clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
    <div class="container-fluid" style="">
      <div class="row-fluid ">
        <div class="span2" style="background-color:#9B004F;">
          <p></p>
          <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">{{ loop.index }}</h1>
        </div>
        <div class="span8" style="">
          <p>
            <h1 style="font-size:20px;line-height: 23px;color:#231f20;">{{ clinic.name }}</h1>
            <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">{{ clinic.location }}</p>
            <p><strong>{{ clinic.distance_away }} Miles</strong> from
              <button type="button" class="button-postcode" data-toggle="modal" data-target="#postcode">LS2 4GH</button>
            </p>
          </p>
        </div>
        <div class="span1">
          <p style="text-align:right;">
            <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

    <!--GOOGLE MAPS START-->
    <script type="text/javascript">
      var map,
      homePos = {
        lat: 53.805536,
        lng: -1.555182
      };

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: homePos,
          zoom: 8,
          disableDefaultUI: true,
          zoomControl: true,
          scrollwheel: false
        });

        var homeMarker = new google.maps.Marker({
          position: homePos,
          map: map,
          title: 'Home',
          icon: '/public/images/home.png'
        });

        {% for clinic in clinics %}
          new google.maps.Marker({
            position: {
              lat: {{ clinic.lat | json }},
              lng: {{ clinic.lng | json }}
            },
            map: map,
            title: "{{ clinic.location }}",
            label: "{{ loop.index }}"
            //icon: '/public/images/home.png'
          });
        {% endfor %}
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{gmap_key}}&callback=initMap">
    </script>
    <!--GOOGLE MAPS END-->

</nav>
<!--MAP MENU END-->
