<div class="container-fluid" style="padding: 0px;">
  <div class="row-fluid" style="padding:0 0 0 0;">
    <div class="span4">
      <p>
        <a id="showLeft" class="button button-filter" style="color:#fff" >Filter </a>
      </p>
    </div>
    <div class="span4" >
      <dl class="accordion">
        <dt style="margin-left: 0px !important;">
          <a class="button button-sort acc-arrow acc-arrow_white"  style="text-decoration:none;color:#fff;">Sort</a>
        </dt>
        <div style="width:100%;position:absolute;display: none; left: 0px !important;" class="sort">
          <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;padding:2rem 1rem 2rem 1rem;" >
            <div style="padding-left:20px;">
              <div class="form-item-wrapper">
                <div class="form-group">
                  <input type="radio" data-sort-val="waiting-time" id="nextappoint" name="minor" checked>
                  <label class="form-control-radio minor" for="nextappoint" style="font-weight: normal;">
                    Earliest appointment (Soonest - Latest)
                  </label>
                </div>
              </div>
              <div class="form-item-wrapper">
                <div class="form-group">
                  <input type="radio" data-sort-val="distance-away" id="location" name="minor">
                  <label class="form-control-radio minor" for="location" style="font-weight: normal;">
                    Location (Nearest - Furthest)
                  </label>
                </div>
              </div>
              <div class="form-item-wrapper">
                <div class="form-group">
                  <input type="radio" data-sort-val="cqc-rating" id="cqcrate" name="minor">
                  <label class="form-control-radio minor" for="cqcrate" style="font-weight: normal;">
                    CQC Rating (Outstanding - Inadequate)
                  </label>
                </div>
              </div>
            </div>
          </dd>
        </div>
      </dl>
    </div>
    <div class="span4">
      <p>
        <a class="button button-map" id="showRight" style="color:#fff">Map</a>
      </p>
    </div>
  </div>
</div>
