{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block content %}
<main id="content" role="main">
  <h1 class="heading-large" style="padding-top:0px;padding-bottom:10px;">Booking Confirmation</h1>
  <div class="container-fluid" style="background-color:#00953A;margin-bottom:20px;">
    <div class="row-fluid" style="padding:0 0 0 0;">
      <div class="span2 offset1">
        <p style="padding:25px 0 25px 0;"> <img src="/public/images/tick.png" width="50px" /></p>
      </div>
      <div class="span8 offset1">
        <h1 class="heading-large" style="color:#fff;"> Your appointment has been booked</h1>
      </div>
    </div>
  </div>
  <div class="text">
    <div class="bookbox">
      <h1 class="heading-large" style="padding-bottom:20px;color:#231f20;">Your Appointment Details</h1>
      <ul style="padding-bottom:20px;list-style-type: none;">
        <li style="padding-left: 0px !important;">
          <a href="#" class="icomoon icomoon-calendar">Add to your calendar</a>
        </li>
        <li style="padding-left: 0px !important;">
          <a href="#" class="icomoon icomoon-location" data-toggle="modal" data-target="#map">Show a map</a>
        </li>
        <li style="padding-left: 0px !important;">
          <a href="#" class="icomoon icomoon-phone">Set Text Reminders</a>
        </li>
      </ul>
      {% include 'book-an-appointment/appointment-summary.html' %}
    </div>
    <div style="text-align:center;padding-top:20px;">
      <p>
        <a class="button " href="/book-an-appointment/home-screen" style="color:#fff">Finish and return to the home screen</a>
      </p>
    </div>
  </div>

  <!-- MODALS -->
  <div class="container">
    <!-- Modal CHANGE POSTCODE START -->
    <div class="modal fade" id="map" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">See on a map</h4>
          </div>
          <div class=" " style="padding:20px;">
            <iframe
            width="450"
            height="250"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{gmap_key}}&q={{clinic.location|url_encode}}&zoom=14" allowfullscreen>
          </iframe>
        </div>
        <div class="modal-footer" style="border-top:0px;"></div>
      </div>
    </div>
  </div>
  <!-- Modal CHANGE POSTCODE END -->
</div>
</main>
{% endblock %}
