{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
<!--{% import 'includes/ui_element_macros.html' as ui_element_macros %}-->

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">Hello {{ user.name }}</h1>
  <div class="text">
    <p class="lede">Referrals to Book</p>
    <!---Referral START--->
    {% for tobook in referral.tobook %}
    <div class="bookbox" style="margin-bottom:20px;">
      <div class="bookboxtext">
        <h1 style="font-size: 20px;color:#231f20;">Referral to {{ tobook.service }} Service</h1>
        <p>Referred by: {{ tobook.consultant }}</p>
      </div>
      <div style="text-align:center;">
        <div class="container-fluid" style="padding: 0px;">
          <div class="row-fluid" style="padding:0 0 0 0;">
            <div class="span6">
              <p><a class=" button button-cancel" href="cancel-referral" style="color:#fff">Cancel Referral</a>
              </p>
            </div>
            <div class="span6">
              <p><a class="button button-book" href="{{ tobook.service }}/check-details/{{ user.id }}" style="color:#fff">Book Appointment</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!---Referral END--->

    <p class="lede">Referrals Booked</p>
    <!---Referrals Booked START--->
    {% for booked in referral.booked %}
    <div class="bookbox" style="margin-bottom:20px;">
      <div class="bookboxtext">
        <h1 style="font-size: 20px;color:#231f20;">Referral to {{ booked.service }} Service</h1>
        <!--ACCORDION START-->
        <dl class="accordion" style="">
          <!--CLINIC DAY-->
          <dt style="margin-left: 0px !important;">
            <a href="#" style="">More info</a>
          </dt>
          <dd style="background-color:#fff;border-bottom:1px solid #000;margin:0;">
            <div class="checkdetailsbox" style="padding-left: 0px !important; padding-right: 0px !important;">
              <div style="border-bottom:1px #dee0e2 solid;">
                <p><strong>Date:</strong> {{ booked.datetime|date('l jS F Y') }}</p>
              </div>
              <div style="border-bottom:1px #dee0e2 solid;padding-top:1rem;">
                <p><strong>Time:</strong> {{ booked.datetime|date('H:i') }}</p>
              </div>
              <div style="padding-top:1rem;">
                <p><strong>Service:</strong> {{ booked.location }}</p>
              </div>
            </div>
          </dd>
        </dl>
        <!--ACCORDION END-->
      </div>

      <div style="text-align:center;">
        <div class="container-fluid" style="padding: 0px;">
          <div class="row-fluid" style="padding:0 0 0 0;">
            <div class="span6">
              <p><a class=" button button-cancel" href="cancel-referral" style="color:#fff">Cancel Referral</a>
              </p>
            </div>
            <div class="span6">
              <p><a class="button button-change" href="{{ booked.service }}/select-your-clinic" style="color:#231f20;">Change Appointment</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <!---Referral 1 END--->
  </div>
  <script>
  $(document).ready(function() {
    $('.accordion > dd').hide();
    $('.accordion > dt > a').click(function(){
      $(this).parent().next().slideToggle()
      .siblings('.hide').slideUp();
      return false;
    });
    $('.close').click(function(){
      $('.accordion .hide').slideUp();
    });
  });
  </script>
</main>

{% endblock %}
