{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% import 'includes/ui_element_macros.html' as ui_element_macros %}

{% block afterHeader %}
{% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}

{% block content %}
<main role="main" style="padding-left:0px;">
  <body class="cbp-spmenu-push">

    {% include "book-an-appointment/clinic-filters.html" %}

    {% include "book-an-appointment/clinic-map.html" %}

    <div class="container">
      <header class="clearfix">
      </header>
      <div class="main" style="padding-top: 20px !important;">
        <!--MAIN CONTENT STARTS HERRRRREEEE-->
        <h1 class="heading-large" style="padding-top: 0px !important;">
          Select your Clinic
        </h1>
        <p class="lede">Please choose from one of the clinics below.</p>

        {% include "book-an-appointment/clinic-filter-buttons.html" %}

        <!--DISPLAY CLINICS START-->
        <div class="sortable results">
        {% for clinic in clinics %}

          <div class="filterable clinicresult{% if !clinic.booking_instructions %} clickable-row{% endif %}" data-href='/book-an-appointment/{{clinic.id}}/select-appointment'
               data-filter-waiting-time="[{{ clinic.next_appointment.days_in_future|json }}]"
               data-filter-clinic-day="{{ clinic.dates|json }}"
               data-filter-clinic-slot="{{ clinic.slots|json }}"
               data-filter-distance-away="[{{ clinic.distance_away|json }}]"
               data-filter-distance-bucket="[{{ clinic.distance_bucket|json }}]"
               data-filter-accessibility="{{ clinic.accessibility|json }}"
               data-filter-facilities="{{ clinic.facilities|json }}"
               data-filter-parking="{{ clinic.parking|json }}"
               data-filter-cqc-rating="[{{ clinic.cqc_rating_number }}]"
               data-filter-choices-rating="[{{ clinic.choices_rating }}]"
               >
            <h1 style="font-size:20px;line-height:25px;color:#231f20;">{{ clinic.name }}</h1>
            <p>{{ clinic.location }}</p>
            {% if !clinic.booking_instructions %}
            <div class="container-fluid" style="padding: 0px;">
              <div class="row-fluid clinictextcentre">
                <div class="span4 clinicdiarybox">
                  <p style="font-size:12px;line-height:14px;margin-bottom:5px;"> Earliest appointment in</p>
                  <div class="clinicdiaryboxinner">
                    <h2 style="font-size:22px;">{{ clinic.next_appointment.days_in_future }}</h2> Days
                  </div>
                </div>

                {% if clinic.telephone_appointment %}
                <div class="span3" style="padding-top:40px;">
                  <h2 style="font-size:2.3rem;"><img src="/public/images/noun_127.svg" height="40px" />
                  </h2>
                </div>
                {% else %}
                <div class="span3" style="padding-top:20px;">
                  <p><strong>{{ clinic.distance_away }} Miles</strong><br />
                    from<br />
                    LS2 4GH
                  </p>
                </div>
                {% endif %}

                <div class="span3" style="padding-top:20px;line-height: 1.7rem;">
                  <p style="margin-bottom:0px;">CQC Rating</p>
                  <img src="{{assetPath}}images/cqc_req_{{ clinic.cqc_rating }}.svg" />
                </div>
                <div class="span1" >
                  <p style="text-align:right;">
                    <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
                  </p>
                </div>
              </div>
            </div>
            {% else %}
            <div style="background-color:#dee0e2;padding:10px 10px 5px 10px;margin-bottom:20px;">
              <p><strong>Booking instructions:</strong> {{ clinic.booking_instructions }}</p>
            </div>
            <div class="container-fluid" style="padding: 0px;">
              <div class="row-fluid clinictextcentre">
                <div class="span4" style="padding-top: 10px;">
                  <h2 style="font-size:2.3rem;"><img src="/public/images/noun_127.svg" height="40px" /></h2>
                </div>
                <div class="span3" style="padding-top:10px;" >
                  <p style="padding-top:0px;"><strong>Tel.</strong> {{ clinic.phone_number }}</p>
                </div>
                <div class="span4" >
                  <p style="margin-bottom:0px;">CQC Rating</p>
                  <img src="{{assetPath}}images/cqc_req_{{ clinic.cqc_rating }}.svg" />
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        {% endfor %}
        </div>
        <!--CLINICS END-->
        <div class="no-results hidden bs-callout bs-callout-warning">
          <h2>No results match your selected criteria, try a less strict set of filters.</h2>
          <div class="container-fluid" style="padding:10px;">
            <div class="row-fluid" style="padding:0 0 0 0;">
              <div class="span12">
                <p class="reset-filters" >
                  <a class="button" style="color:#fff;padding-top:1rem;">Reset filters</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <section style="visibility: hidden;">
          <button id="showLeft">Show/Hide Left Slide Menu</button>
          <button id="showRight">Show/Hide Right Slide Menu</button>
          <button id="showTop">Show/Hide Top Slide Menu</button>
          <button id="showBottom">Show/Hide Bottom Slide Menu</button>
        </section>
      </div>
    </div>
  </main>

  <script src="/public/javascripts/vendor/modernizr.custom.js"></script>
  <script src="/public/javascripts/vendor/classie.js"></script>
  <script>
  var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
  menuRight = document.getElementById( 'cbp-spmenu-s2' ),
  menuTop = document.getElementById( 'cbp-spmenu-s3' ),
  menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
  showLeft = document.getElementById( 'showLeft' ),
  showRight = document.getElementById( 'showRight' ),
  showTop = document.getElementById( 'showTop' ),
  showBottom = document.getElementById( 'showBottom' ),
  showLeftPush = document.getElementById( 'showLeftPush' ),
  showRightPush = document.getElementById( 'showRightPush' ),
  body = document.body;

  showLeft.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showLeft' );
  };
  showRight.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuRight, 'cbp-spmenu-open' );
    disableOther( 'showRight' );
  };
  showTop.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuTop, 'cbp-spmenu-open' );
    disableOther( 'showTop' );
  };
  showBottom.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuBottom, 'cbp-spmenu-open' );
    disableOther( 'showBottom' );
  };
  showLeftPush.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toright' );
    classie.toggle( menuLeft, 'cbp-spmenu-open' );
    disableOther( 'showLeftPush' );
  };
  showRightPush.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( body, 'cbp-spmenu-push-toleft' );
    classie.toggle( menuRight, 'cbp-spmenu-open' );
    disableOther( 'showRightPush' );
  };

  function disableOther( button ) {
    if( button !== 'showLeft' ) {
      classie.toggle( showLeft, 'disabled' );
    }
    if( button !== 'showRight' ) {
      classie.toggle( showRight, 'disabled' );
    }
    if( button !== 'showTop' ) {
      classie.toggle( showTop, 'disabled' );
    }
    if( button !== 'showBottom' ) {
      classie.toggle( showBottom, 'disabled' );
    }
    if( button !== 'showLeftPush' ) {
      classie.toggle( showLeftPush, 'disabled' );
    }
    if( button !== 'showRightPush' ) {
      classie.toggle( showRightPush, 'disabled' );
    }
  }
  </script>

  <script>
  $(document).ready(function() {
    $('.accordion > dd').hide();
    $('.accordion > dt > a').click(function(){
      $(this).parent().next().slideToggle()
      .siblings('.hide').slideUp();
      return false;
    });
    $('.close').click(function(){
      $('.accordion .hide').slideUp();
    });
  });
  </script>

  {% endblock %}
