{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}
{% block afterHeader %}
  {% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}
{% block content %}
<main role="main">

  <body class="cbp-spmenu-push">

    {% include "book-an-appointment/clinic-filters.html" with { hide_waiting_times: true, hide_distance: true, hide_accessibility: true, hide_facilities: true, hide_cqc_rating: true, hide_choices_rating: true, hide_parking: true } %}
    {% include "book-an-appointment/clinic-info.html" %}

    <div class="container">
      <header class="clearfix">
      </header>
      <div class="main" style="padding-top: 20px;">
        <!-- MAIN CONTENT -->
        <h1 class="heading-large" style="padding-top: 0px !important;margin-bottom:10px;">
          Select your Appointment
        </h1>
        <div class="bookbox">
          <h2 style="padding-bottom:0px;font-weight: bold;line-height:28px;"><a href="#" style="color:#0072C6;" id="showRight">{{ clinics|first.name }}</a></h2>
          <p>{{ clinics|first.location }}</p>
          <div class="checkdetailsbox" style="padding-bottom: 2px !important; padding-top: 10px !important;">
            <p><strong>{{ clinics|first.distance_away }} Miles</strong> from <strong>LS2 4GH</strong></p>
          </div>
          <div class="checkdetailsbox" style="padding-bottom: 5px !important; padding-top: 10px !important;">
            <p style="margin-bottom:0px;">CQC Rating <img src="{{assetPath}}images/cqc_req_{{ clinics|first.cqc_rating }}.svg" /></p>
          </div>
        </div>

        <!--FILTER BUTTON START-->
        <div class="container-fluid" style="padding:15px 0 15px 0;">
          <div class="row-fluid" style="padding:0 0 0 0;">
            <div>
              <p>
                <a class="button button-filter" id="showLeft" style="color:#fff">Filter</a>
              </p>
            </div>
          </div>
        </div>
        <!--FILTER BUTTON END-->

        <table class="table table-striped">
          <tbody class="results">
            {% for appointment in clinics|first.appointments %}
            <tr class='filterable clickable-row' data-href='/book-an-appointment/{{ clinics|first.id }}/review-appointment/{{ appointment.id }}'
                data-filter-clinic-day="[{{ appointment.date|date('l')|lower|json }}]"
                data-filter-clinic-slot="[{{ appointment.slot|json }}]"
                data-filter-waiting-time="[{{ clinics|first.next_appointment.days_in_future|json }}]"
                data-filter-distance-away="[{{ clinics|first.distance_away|json }}]"
                data-filter-distance-bucket="[{{ clinics|first.distance_bucket|json }}]"
                data-filter-accessibility="{{ clinics|first.accessibility|json }}"
                data-filter-facilities="{{ clinics|first.facilities|json }}"
                data-filter-parking="{{ clinics|first.parking|json }}"
                data-filter-cqc-rating="[{{ clinics|first.cqc_rating_number }}]"
                data-filter-choices-rating="[{{ clinics|first.choices_rating }}]">
              <td>
                <p style="margin: 0rem 0rem 0rem 0rem;">{{ appointment.date|date('l') }} <strong>{{ appointment.date|date('jS F') }}</strong> {{ appointment.date|date('Y') }}</p>
              </td>
              <td>
                <p>{{ appointment.date|date('g:iA') }}</p>
              </td>
              <td>
                <p style="color:#0072C6;font-weight:700;font-size:2rem;">></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="no-results hidden bs-callout bs-callout-warning">
          <h2>No results match your selected criteria, try a less strict set of filters.</h2>
          <div class="container-fluid" style="padding:10px;">
            <div class="row-fluid" style="padding:0 0 0 0;">
              <div class="span12">
                <p class="reset-filters" >
                  <a class="button" style="color:#fff;padding-top:1rem;">Reset filters</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <section style="visibility: hidden;">
          <button id="showLeft">Show/Hide Left Slide Menu</button>
          <button id="showRight">Show/Hide Right Slide Menu</button>
          <button id="showTop">Show/Hide Top Slide Menu</button>
          <button id="showBottom">Show/Hide Bottom Slide Menu</button>
        </section>
      </div>
    </div>
</main>

<script src="/public/javascripts/vendor/modernizr.custom.js"></script>
<script src="/public/javascripts/vendor/classie.js"></script>
<script>
  var menuLeft = document.getElementById('cbp-spmenu-s1'),
    menuRight = document.getElementById('cbp-spmenu-s2'),
    menuTop = document.getElementById('cbp-spmenu-s3'),
    menuBottom = document.getElementById('cbp-spmenu-s4'),
    showLeft = document.getElementById('showLeft'),
    showRight = document.getElementById('showRight'),
    showTop = document.getElementById('showTop'),
    showBottom = document.getElementById('showBottom'),
    showLeftPush = document.getElementById('showLeftPush'),
    showRightPush = document.getElementById('showRightPush'),
    body = document.body;

  showLeft.onclick = function() {
    classie.toggle(this, 'active');
    classie.toggle(menuLeft, 'cbp-spmenu-open');
    disableOther('showLeft');
  };
  showRight.onclick = function() {
    classie.toggle(this, 'active');
    classie.toggle(menuRight, 'cbp-spmenu-open');
    disableOther('showRight');
  };
  showTop.onclick = function() {
    classie.toggle(this, 'active');
    classie.toggle(menuTop, 'cbp-spmenu-open');
    disableOther('showTop');
  };
  showBottom.onclick = function() {
    classie.toggle(this, 'active');
    classie.toggle(menuBottom, 'cbp-spmenu-open');
    disableOther('showBottom');
  };
  showLeftPush.onclick = function() {
    classie.toggle(this, 'active');
    classie.toggle(body, 'cbp-spmenu-push-toright');
    classie.toggle(menuLeft, 'cbp-spmenu-open');
    disableOther('showLeftPush');
  };
  showRightPush.onclick = function() {
    classie.toggle(this, 'active');
    classie.toggle(body, 'cbp-spmenu-push-toleft');
    classie.toggle(menuRight, 'cbp-spmenu-open');
    disableOther('showRightPush');
  };

  function disableOther(button) {
    if (button !== 'showLeft') {
      classie.toggle(showLeft, 'disabled');
    }
    if (button !== 'showRight') {
      classie.toggle(showRight, 'disabled');
    }
    if (button !== 'showTop') {
      classie.toggle(showTop, 'disabled');
    }
    if (button !== 'showBottom') {
      classie.toggle(showBottom, 'disabled');
    }
    if (button !== 'showLeftPush') {
      classie.toggle(showLeftPush, 'disabled');
    }
    if (button !== 'showRightPush') {
      classie.toggle(showRightPush, 'disabled');
    }
  }
</script>

<script>
  $(document).ready(function() {
    $('.accordion > dd').hide();
    $('.accordion > dt > a').click(function() {
      $(this).parent().next().slideToggle()
        .siblings('.hide').slideUp();
      return false;
    });
    $('.close').click(function() {
      $('.accordion .hide').slideUp();
    });
  });
</script>

{% endblock %}
