// NHS template

body {
  background: $white;
}

#global-header {
  background-color: $nhs-blue;


  @extend %contain-floats;

  .header-container {
    max-width: 960px;
  	margin: 0 15px;


    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }
  }

  a.header-logo {
    display: block;
    float: left;
    width: 90px;
    height: 36px;
    margin: 15px 0 15px 0;

    &:focus {
      background-color: transparent;
    }

    img {
      display: block;
      width: 90px;
    }
  }

  .header-controls {
    clear: both;
    padding-top: 15px;
    @include media(tablet) {
      clear: none;
      float: right;
      height: 66px;
      padding-top: 0;
    }
  }

  #header-search {
    float: left;
    width: calc(100% - 120px);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    @include media(tablet) {
      width: auto;
    }
    .form-control {
      float: left;
      width: 140px;
      width: calc(100% - 40px);
      height: 40px;
      line-height: 40px;
      padding-left: 6px;
      margin: 0;
      border: none;
      outline: none;
      @include media(tablet) {
        width: 260px;
      }
    }
    button {
      display: block;
      float: left;
      width: 40px;
      height: 40px;
      background: url('/public/images/icomoon-search.svg') no-repeat center $nhs-black;
      background-size: 24px;
      border: none;
    }
  }

  #header-menu-link {
    float: right;
    height: 100%;
    margin: 0 0 0 30px;
    @include media(tablet) {
      float: left;
    }

    a {
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      //color: $nhs-white;
      font-weight: bold;
      font-size: 18px;
      text-decoration: none;

      &:before {
        content: '';
        display: block;
        float: left;
        width: 30px;
        height: 25px;
        margin-right: 7px;
        background: url('/public/images/icon-menu.svg') center no-repeat;
      }

      &:hover {
        text-decoration: underline;
      }
      &:focus {
        background-color: transparent;
        outline: 3px solid $nhs-yellow;
      }
    }
  }
}

.service-header {
	background-color: rgba($nhs-blue, 0.1);
}

.service-header .service-name {
  max-width: 960px;
	margin: 0 15px;
  padding: 2px 0 8px 0;

  @include media(tablet) {
    margin: 0 auto;
    padding: 9px 30px 15px 30px;
  }
}

html,
#footer {
  background-color: $grey-3;
}

#footer {
  color: $grey-1;
  padding: 2rem 0;

  @extend %contain-floats;

  a {
    color: $nhs-blue;
  }

  .footer-wrapper {
    max-width: 960px;
  	margin: 0 15px;
    padding: 0;

    @include media(tablet) {
      margin: 0 auto;
      padding: 0 30px;
    }
  }
}
.row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.7624309392265194%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }
  .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }
  .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }
  .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }
  .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }
  .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }
  .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }
  .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
  .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }
  .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }
  .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }
  .row-fluid .offset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.41847889972962%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.6560479605031%;
  }
  .row-fluid .offset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.8549429881274%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09251204890089%;
  }
  .row-fluid .offset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2914070765252%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.52897613729868%;
  }
  .row-fluid .offset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.72787116492299%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.96544022569647%;
  }
  .row-fluid .offset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.16433525332079%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40190431409427%;
  }
  .row-fluid .offset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.600799341718584%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.838368402492065%;
  }
  .row-fluid .offset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.037263430116376%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.27483249088986%;
  }
  .row-fluid .offset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47372751851417%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71129657928765%;
  }
  .row-fluid .offset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91019160691196%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.14776066768544%;
  }
  .row-fluid .offset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.346655695309746%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.584224756083227%;
  }
  .row-fluid .offset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.783119783707537%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.02068884448102%;
  }
  .row-fluid .offset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.219583872105325%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.457152932878806%;
  }

.bookboxtext
{
    background-color:#fff;
    padding:2rem 2rem 0.5rem 2rem;
    margin-bottom: 1rem;
}

.bookbox
{
    background-color:$grey-3;
    padding:2rem 2rem 2rem 2rem;
}

.bookbox h2
{
    font-size: 24px;
    padding-bottom: 2rem;
    font-weight: 400;
}

.checkdetailsbox
{
    background-color:#fff;
    padding:2rem 2rem 1rem 2rem;
    margin-bottom: 0.1rem;

}

#u91
{
	z-index: 2;
	width: 73px;
	background-color: #AFCDFF;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	position: relative;
}


.clinicresult
{
    padding-top:20px;
    border-top:1px $grey-2 solid;
    border-bottom:1px $grey-2 solid;
    padding-bottom:20px;
    //margin-bottom:20px;
}

.clinictextcentre
{
    text-align:center;
}

.clinicdiarybox
{
    background-color:$grey-3;
    padding:20px 5px 5px 5px;
    text-align:center;
    background-image: url("/public/images/diary-punch.svg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.clinicdiaryboxinner
{
    background-color:#fff;
    padding:10px 5px 10px 5px;
}

.cqcimprove
{
    background-color:#ff9900;
    color:#fff;
    font-size:1rem;
    line-height:1rem;
    padding:1rem 0rem 1rem 0rem;
}



//SIDR STUFF



.sidr  {
    display:none;
    position:absolute;
    position:fixed;
    top:0;
    height:100%;
    z-index:999999;
    width:260px;
    overflow-x:none;
    overflow-y:auto;
}

.sidr .sidr-inner  {
    padding:0 0 15px;
}

.sidr .sidr-inner>p {

}

.sidr .right {
    left:auto;
    right:-260px
}

.sidr .left {
    left:-260px;
    right:auto;
    background-color: #fff;
}


.sidr-class-row-fluid {
    background-color: $nhs-aqua-green;
    padding: 20px;
    color:#fff;
}

.slideout-menu {
  position: fixed;
  left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}




/* General styles for all menus */
.cbp-spmenu {
	background: #fff;
	position: fixed;
}

.cbp-spmenu h3 {
	//color: #afdefa;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	//background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	//background: #258ecd;
}

.cbp-spmenu a:active {
	//background: #afdefa;
	//color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	//border-bottom: 1px solid #258ecd;
	//padding: 1em;
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	//border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -270px;
}

.cbp-spmenu-right {
	right: -270px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

