{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">NHS e-Referral Service Prototypes.</h1>
  <h2 class="heading-large">Prototypes</h2>
  <ul style="padding-left: 20px !important;">
    <li><a href="/book-an-appointment/">Book an Appointment</a></li>
  </ul>
</main>

{% endblock %}
 
